@import './init.less';

.main-header{
  @apply relative bg-white w-full;
}
/////////heeder-top
.outer-container{
  @apply relative px-14;
}
.top-inner{
  @apply relative w-full bg-[#f5f4f4] flex items-center justify-between;
}
//left

.header-top .info-list{
  @apply relative flex items-center ;
}
.header-top .info-list li{
  @apply first:before:content-[''] first:before:absolute first:before:-right-4 first:before:top-1/2 first:before:w-[1px] first:before:h-full first:before:bg-black first:before:-translate-y-1/2;
}
.header-top .looking-box{// thieu after tam giac mau do
  @apply bg-red-600 lg:px-[30px] lg:py-[17px] flex items-center lg:mr-8 gap-2;
        // relative after:content-[''] after:absolute after:bg-[var(--theme-color)] after:w-[25px] after:h-[25px] after:right-0 after:bottom-[-25px] after:clip-path-[polygon(0%_0%,100%_0%,100%_100%,100%_100%,0%_0%)];
}
.header-top .looking-box h5{
  @apply text-white;
}
.header-top .looking-box .current span{
  @apply text-white;
}
.header-top .login-box, 
            .mail-box{
  @apply box-border border-0 border-solid border-[#e5e7eb] items-center flex mr-7 gap-3; 
}



//right
.header-top .right-column{
  @apply relative flex items-center;
}
.header-top .right-column .option-list{
  @apply relative flex items-center pr-7 mr-7;
}
.header-top .right-column .option-list li{
  @apply relative flex items-center gap-2 mr-7 text-lg leading-7;
}
.header-top .right-column .language-box{
  @apply relative flex items-center gap-2 mr-5;
}
////////heeder-top

////////header-lower
.outer-box {
  @apply flex relative items-center justify-between;
}
.menu-area{
  @apply flex relative items-center;
}
.menu-area .mobile-nav-toggler{
  @apply relative float-right text-4xl leading-10 cursor-pointer bg-[#550401] hidden;
}

.menu-area .main-menu{
  @apply float-left;
}

.menu-right-content{
  @apply flex relative items-center justify-between;
}

.menu-right-content .search-box{
  @apply relative flex items-center gap-2 text-lg text-[#a8a7a7] cursor-pointer pr-8 mr-8
  before:content-[''] before:absolute before:-right-4 before:top-1/2 first:before:w-[1px] first:before:h-full first:before:bg-black first:before:-translate-y-1/2;
  ;
}

.menu-right-content .support-box{
  @apply relative flex items-center gap-2 mr-12
  before:content-[''] before:absolute before:bg-[#1da630] before:w-3 before:h-3 before:rounded-full before:border-[3px] before:border-[#a5dbac] before:-top-1 before:-right-4;
}
.menu-right-content .theme-btn{
  @apply relative inline-block overflow-hidden align-middle text-lg leading-6 font-bold bg-red-500 text-white !text-center px-[29px] py-[16px] capitalize z-10 transition-all duration-500 ease-in-out;
}
.menu-right-content .nav-toggler .side-panel-btn{ //,leading chua dung duoc dang custom
  @apply relative inline-block w-14 h-14 leading-10 border border-[#e6e4e4] cursor-pointer text-center transition-all duration-500 ease-in-out;
}
.menu-right-content .nav-toggler .side-panel-btn img{
  @apply inline-block max-w-full h-auto transition-all duration-700 ease-in-out delay-100;
}
.side-panel {// thieu shadow
  @apply absolute w-96 bg-white opacity-0 invisible z-10 scale-y-0 origin-top transform top-24 right-0 p-6 px-8 pb-6 transition-all duration-500 ease-in-out;
}
/////////header-lower

/////////sticky-header
  
/////////sticky-header

/////////mobile-menu
.mobile-menu{
  @apply fixed right-0 top-0 w-72 max-w-full h-full pr-7 opacity-0 invisible z-50 transition-all duration-1000 ease-in-out; 
}
//mobile-menu

//banner-section
.banner-section{
  @apply relative bg-[#646464];
}

.owl-carousel.owl-loaded {
  @apply block;
}
//banner-section

//main-footer
.main-footer{
  @apply relative bg-[#f5f4f4];
}

.main-footer .widget-section{
  @apply relative pb-40 pt-32 border-b border-[#e2e0e0]
  before:content-[''] before:absolute before:bg-[#e2e0e0] before:w-[1px] before:h-full before:left-1/2 before:top-0;
}

.auto-container{
  @apply static max-w-6xl px-4 mx-auto;
}
.row{
  @apply flex flex-wrap -mt-8 -mr-4 -ml-4;
}
.row > * {
  @apply flex-shrink-0 w-full max-w-full px-4 mt-4;
} 
.footer-column{
  @apply flex-none lg:w-1/2 md:w-full sm:w-full ;
}
.footer-column .footer-widget{
  @apply lg:mr-24 sm:mt-0 md:mt-0;
}
.footer-column-haft{
  @apply flex-none lg:w-1/4 md:w-1/2 sm:w-full;
}
.footer-column-haft{
  @apply flex-none lg:w-1/4 md:w-1/2 sm:w-full;
}
.footer-column-haft .footer-widget{
  @apply lg:ml-20 sm:mt-0 md:mt-0;;
}

.contact-widget .certified-box {
  @apply relative bg-[#550401] pt-5 pr-5 pb-4 pl-28 mb-10;
}
.contact-widget .certified-box h4{
  @apply text-xl leading-6 text-white mb-2 max-w-80;
}
.contact-widget .certified-box span{
  @apply relative block text-white/50;
}
.contact-widget .certified-box .image-box{
  @apply absolute left-7 top-6;
}

.contact-info h3{
  @apply relative block text-2xl mb-5;
}

.widget-content .schedule-inner{
  @apply relative flex  items-center justify-between mb-7;
}
.widget-content .schedule-inner h3{
  @apply relative block text-2xl mb-5;
}
.widget-content .schedule-inner ul li{
  @apply relative block text-[#1e242a] mb-4;
}
.widget-content .schedule-inner ul li a{ 
  @apply inline-block text-[#1e242a];
}
.widget-content .schedule-inner ul li span{ 
  @apply text-[#8d8b8b];
}
.widget-content .support-box{
  @apply relative block pl-14;
}
.widget-content .support-box .icon-box{
  @apply absolute inline-block left-0 top-2 w-11 h-11 leading-10 border border-[#e2e0e0] rounded-full text-center;
}
.widget-content .support-box .icon-box img{
  @apply inline-block max-w-full h-auto transition-all duration-700 ease-in-out delay-100;
}
.widget-content .support-box .link-box{
  @apply absolute top-5 right-0;
}
.widget-content .support-box .link-box a{
  @apply relative inline-block text-2xl text-[#1e242a];
}
.widget-content .support-box .link-box svg{
  @apply w-6 h-6;
}

.widget-title {
  @apply relative block mb-5;
}

.links-widget .links-list li{
  @apply relative block mb-3;
}
.links-widget .links-list li a {
  @apply relative inline-block text-base leading-6 text-[#545151] pr-5
          hover:text-red-500;
}
//fotter-bottom
.bottom-top{
  @apply relative block w-full bg-[#eaeaea] px-20 py-5 -mt-9 z-10;
}
.bottom-top .list-item{
  @apply relative flex items-center justify-between;
}
.bottom-top .list-item li{
  @apply relative inline-block py-2 pl-14;
}
.bottom-inner{

}
//////main-footer 